services:
  db:
    image: postgres:18-alpine
    container_name: postgres_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changethis
      - POSTGRES_DB=app
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - db_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_gui
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - db_network

  adminer:
    image: adminer
    container_name: adminer_gui
    restart: always
    ports:
      - "8081:8080"  # Changed to 8080 internally
    networks:
      - db_network    # Added to the network
    depends_on:
      db:
        condition: service_healthy

networks:
  db_network:
    driver: bridge